Interfacing with https://api-web.nhle.com/

In [6]:
import requests
import pandas as pd
import json

gamesurl ="https://api.nhle.com/stats/rest/en/game"
playersurl = 'https://api.nhle.com/stats/rest/en/players'
playbyplayurl = "https://api-web.nhle.com/v1/gamecenter/2023020204/play-by-play"
teamurl =  "https://api.nhle.com/stats/rest/en/team"


def GetGames(url):
    gamesresp = requests.get(url)
    if gamesresp.status_code == 200:
        games = gamesresp.json()['data']
        games = pd.json_normalize(games)
        games['gameDate'] = pd.to_datetime(games.gameDate)
        games = games[games['gameDate']> '1/1/2014']
    else:
        print(f"Error: {gamesresp.status_code}")
    return games
games = GetGames(gamesurl)

In [9]:
games.head()

,id,easternStartTime,gameDate,gameNumber,gameScheduleStateId,gameStateId,gameType,homeScore,homeTeamId,period,season,visitingScore,visitingTeamId
56328,2013020612,2014-01-02T19:00:00,2014-01-02,612,1,7,2,3,6,4.0,20132014,2,18
56329,2013020613,2014-01-02T19:00:00,2014-01-02,613,1,7,2,3,2,4.0,20132014,2,16
56330,2013020614,2014-01-02T19:00:00,2014-01-02,614,1,7,2,3,15,4.0,20132014,4,12
56331,2013020615,2014-01-02T19:30:00,2014-01-02,615,1,7,2,4,9,3.0,20132014,3,52
56332,2013020616,2014-01-02T20:00:00,2014-01-02,616,1,7,2,5,19,3.0,20132014,0,26

# Players

In [7]:
def GetPlayers(url):
    playersresp = requests.get(url)
    if playersresp.status_code == 200:
        players = playersresp.json()['data']
        players = pd.json_normalize(players)
    else:
        print(f"Error: {playersresp.status_code}")
    return players

players = GetPlayers(playersurl)

Error: 404

UnboundLocalError: local variable 'players' referenced before assignment

In [7]:
players.head()

,id,currentTeamId,firstName,fullName,lastName,positionCode,sweaterNumber
0,8479964,None,Drew,Drew Fielding,Fielding,G,None
1,8483971,None,Griffin,Griffin Bowerman,Bowerman,G,None
2,8480445,None,Matt,Matt Barberis,Barberis,D,None
3,8481941,None,Jeremy,Jeremy Link,Link,G,None
4,8477667,None,Jonathon,Jonathon McGuire,McGuire,R,None

# Teams

In [14]:
def GetTeams(url):
    teamsresp = requests.get(url)
    if teamsresp.status_code == 200:
        teams = teamsresp.json()['data']
        teams = pd.json_normalize(teams)
    else:
        print(f"Error: {teamsresp.status_code}")
    return teams

teams =  GetTeams(teamurl)

In [16]:
teams.tail()

    id  franchiseId            fullName  leagueId rawTricode triCode
56  20         21.0      Calgary Flames       133        CGY     CGY
57   6          6.0       Boston Bruins       133        BOS     BOS
58  19         18.0     St. Louis Blues       133        STL     STL
59  16         11.0  Chicago Blackhawks       133        CHI     CHI
60  17         12.0   Detroit Red Wings       133        DET     DET